BasedOnStyle: LLVM
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
IndentWidth: 4
AlignAfterOpenBracket: BlockIndent
AllowShortIfStatementsOnASingleLine: WithoutElse
BreakBeforeBraces: Attach
Language: Cpp
IndentPPDirectives: BeforeHash
SpaceBeforeParens: Always
