[Unit]
Description=Resync on system sleep
BindsTo=bor.service
After=bor.service
Before=bor-sleep.target

[Service]
Type=oneshot
ExecStart=bor --resync --verbose
Slice=background.slice

[Install]
WantedBy=bor-sleep.target

# vim: ft=systemd
