[Unit]
Description=Timed resync
BindsTo=bor.service
After=bor.service

[Service]
Type=oneshot
ExecStart=bor --resync --verbose
Slice=background.slice

# vim: ft=systemd
