[Unit]
Description=Timed resync
After=bor.service
Wants=bor-resync.timer
BindsTo=bor.service

[Service]
Type=oneshot
ExecStart=bor --resync --verbose
Slice=background.slice

# vim: ft=systemd
